.layout{width: 1198px;margin: 0 auto;}
#top{background: #f2f2f2;}
#top p{float: left;font: 12px/31px "";color: #878787;}
#top a{color: #878787;}
#top p .active{color: #545454;margin-right: 7px;font-weight: 700;}
#top p .active:hover{color:#dc0403;}
#top .top-r{float: right;font: 12px/31px "";color:#878787;}
#top .top-r a{float: left;}
#top .top-r a:hover{color: #dc0403;text-decoration: underline;background: #fff;}
#top .top-r span{padding: 0 11px;float: left;}

header .logo{float: left;margin: 32px 20px 0;padding-bottom: 35px;}
header .header-c{float: left;margin:32px 0 0 60px;}
header input{border: 0;float:left;}
header input.txt{width: 420px;height: 38px;border: 2px solid #dc0403;padding: 5px;box-sizing: border-box;color: #878787}
header input.btn{background: #dc0403;height: 38px;font-size: 16px;padding: 0 15px;color: #fff;}
header .gocar{display:block;background: #f9f9f9;border: 1px solid #efefef;width: 148px;float: left;text-align: center;font: 12px/38px "";color:#767676;margin:32px 0 0 56px;}
header .gocar img{width: 22px;height: 17px;}
header .gocar i{color: #dc0403;}
header #erma{float:right;margin: 16px 3px 0 0 ;}
nav{border-bottom: 2px solid #dc0403;}
nav .layout{position: relative;}
nav .daohang{margin-left: 226px;}
nav .daohang li{float: left;font:700 16px/34px "";padding: 0 30px;}
nav .daohang li a{color:#000;}
nav .daohang li a:hover{color:#dc0403;}

nav .sort{position: absolute;left: 0;top: 0;width: 226px;background:#fff;z-index: 1;border-left: 1px solid #e7e7e7;border-right:1px solid #e7e7e7;}
nav .sort h3{font:700 16px/36px "";color: #fff;background: #dc0403;text-align: center;}

nav .sort .menu li{width: 226px;font: 13px/35px "";cursor: pointer;}
nav .sort .menu li a{float:left;color: #000;margin-left: 24px;}
nav .sort .menu li span{float: right;margin-right: 15px;color: #545454;}















.news{margin-top: 10px;}
.news ul{display: flex;justify-content: space-between;}

.news ul li.sp{width: 224px;height: 224px;border: 1px solid #e7e7e7;}
.news ul li.sp h4{font: 12px/36px "";color:#323232;border-bottom: 1px dashed #e7e7e7;text-indent: 12px;}
.news ul li.sp a {display: block;font: 12px/36px "";color:#323232;text-indent: 12px;}


.qianggou{position: relative;height: 500px;margin-top: 10px;padding-bottom: 20px;}

.bt span{float: left;display: block;width: 96px;font: 700 24px/40px "";color: #000;}
.bt a{float: right;display: block;font: 14px/40px "";color: #000;}
.qianggou .rb{position: absolute;right: 0;top: 49px;border: 1px solid #e7e7e7;}
.cont{margin: 10px auto;border: solid 1px black;overflow: hidden;position: absolute;left: 0;}
.cont li{width: 499px;height: 229px;box-sizing: border-box;padding: 24px;float: left;border: solid 1px #e7e7e7;box-sizing: border-box;text-align: center;}
.cont li img{width: 180px;height: 180;float: left;}
.cont li p{font:700 16px/20px "";height: 40px;overflow: hidden;margin: 10px 0;}
.cont li i{font: 14px/24px "";color: #bbb;text-align: right;}
.cont li span{display: block;font: 18px/20px "";color: #010101}
.cont li em{width: 100px;height: 30px;line-height: 30px;display: block;margin: 10px auto;font-size:14px;color: #fff;background:#dc0403;border-radius: 6px;cursor: pointer;}


.z1{margin-top: 10px;padding-bottom: 20px;}
.z1 .bt span{float: left;display: block;width: 96px;font: 700 24px/40px "";color: #000;}
.z1 .zuixin{float: right;margin-top: 10px;}

.cont2{float: left;margin-top: 10px;}
.cont2 li{float: left;width: 236px;height: 398px;border: 1px solid #bfbfbf;}
.cont2 li img{width: 200px;height: 200px;display: block;margin: 0 auto;}
.cont2 li p{font: 14px/40px "";color: #333;text-align: center;}
.cont2 li i{font: 20px/30px "";color: #dc0403;text-align: center;display: block;}
.cont2 li span{display: block;font: 14px/30px "";color: #444;text-align: center;}
.cont2 li em{display: block;width: 120px;height: 40px;background: #c40000;border-radius: 5px;margin: 0 auto;font: 18px/40px "";color: #fff;text-align: center;cursor: pointer;}


.car{}
.car .bt i{background: orange;font:700 24px/40px "";color: #fff;}
.car .car-l{float: left;background: url(images/qcyp.jpg) no-repeat center;width: 244px;height: 479px;}






























#categoryNav{position: fixed;top: 20%;left: 50%;margin-left: -720px;}
#categoryNav>div{width: 104px;}
#categoryNav>div a{display: block;width: 104px;height: 36px;margin-bottom: 1px;background-color: #eee;line-height: 36px;text-align: center;transform: all 0s linear;overflow:hidden;}
#categoryNav>div a.top0{line-height: 42px;}
#categoryNav>div a.top0 i{display: block;position: absolute;top: 5px;left: 50%;margin-left: -4px;width: 13px;height: 8px;background: url(../images/ingb-icon.png) no-repeat -23px -2px;}
#categoryNav>div a.bclordd{background-color: #dd0202;color: #fff;}
#categoryNav>div a.bclor1.cur{background-color:#f7b04d;color: #fff;}
#categoryNav>div a.bclor2.cur{background-color: #77d88d;color: #fff;}
#categoryNav>div a.bclor3.cur{background-color: #79b7eb;color: #fff;}
#categoryNav>div a.bclor4.cur{background-color: #ff7a64;color: #fff;}
#categoryNav>div a.bclor5.cur{background-color: #77d5d8;color: #fff;}
#categoryNav>div a.bclor6.cur{background-color: #c277d8;color: #fff;}
#categoryNav>div a.bclor1:hover{background-color:#f7b04d;color: #fff;}
#categoryNav>div a.bclor2:hover{background-color: #77d88d;color: #fff;}
#categoryNav>div a.bclor3:hover{background-color: #79b7eb;color: #fff;}
#categoryNav>div a.bclor4:hover{background-color: #ff7a64;color: #fff;}
#categoryNav>div a.bclor5:hover{background-color: #77d5d8;color: #fff;}
#categoryNav>div a.bclor6:hover{background-color: #c277d8;color: #fff;}






.box{width:973px;position: relative;height: 435px;overflow: hidden;margin-left: 339px;}


.box img{width: 973px;height:435px;position: absolute;left: 973px;top:0;}
.box img:nth-child(1){left:0}


.btns input{position: absolute;top: 177px;width: 40px;height: 40px;border: none;background: rgba(200,200,200,0.4);color: #fff;cursor: pointer;}
#left{left:0}
#right{right:0}




footer{background: #f2f2f2;}
footer .footer-t{margin-top: 40px;display:flex;justify-content:space-around;padding-bottom: 20px;}
footer .footer-t .f1{}
footer .footer-t .xian{height: 80px;width: 1px;background: #e7e7e7;}
footer .footer-t ul{}
footer .footer-t ul li{}
footer .footer-t ul li.te{font: 18px/38px "";color: #000;}
footer .footer-t ul li a{font: 12px/20px "";color: #9c9c9c;}
footer .footer-t .f1 .img{float:left; }
footer .footer-t .f1 .img p{text-indent: 14px;font: 12px/20px "";color: #9c9c9c;}
footer .footer-t .f1 .tel{float: left;margin: 0 0 0 14px;}
footer .footer-t .f1 .tel span{font: 18px/30px "";color: #000;}
footer .footer-t .f1 .tel i{font: 12px/26px "";color:#9c9c9c;}

footer .flk{padding-bottom: 14px;margin: 0 auto;width: 1000px;}
footer .flk .lianj{float:left;width:70px;line-height: 50px;}
footer .flk .q1{float: left;width: 900px; float: left;  margin-top: 13px; line-height: 25px; margin-bottom: 20px;}
footer .flk .q1 a{color: #9c9c9c;float: left;padding-right: 30px;cursor: pointer;}



footer .footer-b{border-top: 2px #dc0403 solid;padding-bottom: 25px;}
footer .us{text-align: center;font: 12px/42px "";color: #9c9c9c;}
footer .us a {color: #9c9c9c;}
footer .us span{padding: 0 19px;}
footer .cpy{text-align: center;font-size: 12px;color: #9c9c9c;}

.rightFixed{position:fixed;right:11px;z-index:88;bottom:100px;}
.rightNav a{margin-bottom:3px;position:relative;display:block;height:44px;width:44px;}
.rightNav a:hover i{background-color:#c40000;}
.rightNav a>i{display:block;height:100%;background:#bfbfbf url(images/rightfixed.png) no-repeat 0 0;position:relative;z-index:2;}
.rightNav .rF1>i{background-position:0 0;}
.rightNav .rF2>i{background-position:0 -44px;}
.rightNav .rF3>i{background-position:0 -88px;}
.rightNav .rF4>i{background-position:0 -132px;}
.rightNav a .showBox{color:white;background-color:#c40000;padding:0 10px;position:absolute;right:0;top:0px;white-space:nowrap;display:none;z-index:1;height:44px;line-height:44px;font-size:14px;}
